@model Cat

    <table id="">
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Number)
            </td>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.Number)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BreedName)
            </td>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.BreedName)
            </td>
        </tr>
        <tr>
           <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EMS)
            </td>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.EMS)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Sex)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.Sex)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Born)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.Born)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageUrl)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ClassNr)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.ClassNr)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Breed)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-10">
                @Html.DisplayFor(model => model.Breed.BreedId)
            </td>
        </tr>
    </table>
</div>
